*.ipynb_checkpoints
Thermals_finder/parse_xcontest/data/
venv/
.venv
__pycache__/
.idea/
.data/
.vscode
catboost_info/
Interviews/sber_reliability_-_data_scientist_nlp/tf_idf_preprocessed_data.txt
Interviews/sber_reliability_-_data_scientist_nlp/test.csv
Interviews/aidiagnostic_-_cv/data/subset*
kaggle/NBME_-_Score_Clinical_Patient_Notes/input_data/*
kaggle/NBME_-_Score_Clinical_Patient_Notes/runs/*
kaggle/NBME_-_Score_Clinical_Patient_Notes/nbme_colab.zip
PyTorch_tutorials/YOLOv1_from_scratch/YOLO_loss_function.ipynb
PyTorch_tutorials/YOLOv1_from_scratch/airplanes.json
PyTorch_tutorials/YOLOv1_from_scratch/airplanes.jpg
PyTorch_tutorials/YOLOv1_from_scratch/sqlite3.def
PyTorch_tutorials/YOLOv1_from_scratch/sqlite3.dll
Tasks/object_detection_yolo/Videos/bikes.mp4
Tasks/object_detection_yolo/Videos/cars.mp4
Tasks/object_detection_yolo/Videos/motorbikes.mp4
Tasks/object_detection_yolo/Videos/people.mp4
Tasks/object_detection_yolo/Videos/ppe-1.mp4
Tasks/object_detection_yolo/Videos/ppe-2.mp4
Tasks/object_detection_yolo/Videos/ppe-3.mp4
Tasks/object_detection_yolo/Yolo_weights/yolov8l.pt
Tasks/object_detection_yolo/Yolo_weights/yolov8n.pt
.python-version
Tasks/ts_foracasting_model/forecast.csv
Tasks/ts_foracasting_model/logs.txt
Tasks/ts_foracasting_model/forecast_holidays.csv
Tasks/ts_foracasting_model/logs_holidays.txt
Tasks/object_detection_yolo/Project 3 - PPE Detection/runs/detect/train/weights/best.pt
Tasks/object_detection_yolo/Project 3 - PPE Detection/runs/detect/train/weights/last.pt
Tasks/object_detection_yolo/Project 2 - People Counter/output.mp4
Tasks/object_detection_yolo/Project 1 - Car Counter/output.mp4
Tasks/object_detection_yolo/Project 4 - Pocker Hand Detector/runs/detect/train/weights/best.pt
