*.ipynb_checkpoints
Thermals_finder/parse_xcontest/data/
venv/
__pycache__/
.idea/
catboost_info/
Interviews/sber_reliability_-_data_scientist_nlp/tf_idf_preprocessed_data.txt
Interviews/sber_reliability_-_data_scientist_nlp/test.csv
Interviews/aidiagnostic_-_cv/data/subset*